@import 'colors';
@import 'animation';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 72px;
}

body {
    position: relative;
    background-color: $bg-color;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.card-body .card-title {
    font-size: 25px;
    text-align: center;
}

.card-text {
    text-align: center;
}

.underline {
    margin: 0 auto 40px;
    width: 90px;
    height: 4px;
     background-color: $green-color;
}

.blue-text{
    color: $green-color;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, 0.8);
}

nav {
    transition: background-color 0.6s;
    text-transform: uppercase;
    z-index: 1;

    .nav-link, .navbar-brand, .fa-bars {
        color: $white;
        transition: color 0.3s;
    }
    
    .fa-bars {
        padding: 10px;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .nav-link:hover, .navbar-brand:hover {
        color: $green-color
    }

    .active {
        color: $green-color
    }   
}

header {
    color: $white;

    h1 {
        font-size: 30px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }

    .hero-img {
        position: relative;
        height: 100vh;
        background-image: url('../img/tesla-g4e1abbc8a_640.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }

    .hero-shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.425);
        z-index: -10;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        text-align: center;
        z-index: 5;
    }

    .btn-outline-light {
        text-transform: uppercase;
    }
}

    .fa-chevron-down {
        position: absolute;
        left: 49%;
        transform: translateX(-49%);
        bottom: 20px;
        font-size: 50px;
        color: $white;
    }

    .about-us {
        i {
            margin-top: 20px;
            font-size: 30px;
        }

        .about-us-card-title {
            font-size: 18px;
            text-transform: uppercase;
        }

        .about-us-card-text{
            font-size: 14px;
        }

        .about-us-hover {
            // transition: color 0.3s;
        }

        .about-us-hover:hover {
            color: $green-color;
        }

    }

    .about-us-hero {
        position: relative;
        background-image: url('../img/photovoltaic-system-gbc8e09f82_640.jpg');
        background-position: center;
        background-size: cover;
        color: $light-grey;
        z-index: 0;
        
        .about-us-shadow {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.425);
            z-index: -5;
        }

        .about-us-hero-item {
            margin: 10px 0;

            i {
                font-size: 28px;
            }

            .about-us-hero-title {
                font-size: 20px;
            }
        }

    }
    
    .about-us-hero-title {
        font-size: 18px;
        text-transform: uppercase;
    }

    .portfolio {
        
        .carousel-item {
            position: relative;
            height: 600px;
        }

        .carousel-caption {
            position: absolute;
            left: 0;
            right: 0;
            padding: 40px 0;
            background-color: rgba(0,0,0,0.8);
        }

        .carousel-indicators {
            padding-bottom: 20px;
        }
    }

    .prices {
        .price-box {
            height: 360px;
            margin: 20px 10px;
            padding: 30px;
            background-color: $white;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .425);
            transition: transform 0.3s;

            .change-margin {
                margin-top: 34px;
            }

            h3 {
                color: rgb(62, 161, 51);
                text-transform: uppercase;
            }

            span {
                font-weight: bold;
            }

            .price-tag {
                font-size: 24px;
                font-weight: bold;              
            }
        }

        .price-box:hover {
            transform: scale(1.10);
        }

        .price-info {
            margin-top: 30px;
            
            a {
                text-decoration: none;
                color: $green-color;
            }
        }
    }

    .fa-facebook-f:before {
        color: rgb(62, 161, 51);
    }

    .fa-twitter:before {
        color: rgb(62, 161, 51);
    }

    .fa-linkedin-in:before {
        color: rgb(62, 161, 51);
    }

    .team {
        position: relative;
        background-image: url('../img/nature-g5f6834f1b_1920.jpg');
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        h2 {
            color: $light-grey;
        }

        .team-shadow {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, .425);
            z-index: -5;
        }

        .card {
            transition: transform 0.3s;
            img {
                height: 300px;
                object-fit: cover;
            }

            i {
                padding: 10px;
            }
        }

        .card:hover {
            transform: scale(0.95);
        }

        .card-title {
            margin-bottom: 20px;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }

        .card-body {
            height: 160px;
        }
    }

    .achievements {
        i {
            padding: 10px;
            font-size: 48px;
            color: $white;
            text-shadow: 0 0 5px #000;
        }

        .achievements-list {
            padding: 20px 0;
        }

        .achievement-number {
            font-size: 22px;
        }

        .achievement-text {
            font-size: 13px;
            text-transform: uppercase;
        }
    }

    .contact {
        position: relative;
        background-image: url('../img/skyline-gc2b10d257_640.jpg');
        background-position: bottom;
        background-attachment: fixed;
        background-size: cover;
        z-index: 0;

        h2 {
            color: $light-grey;
            font-weight: bold;
        }

        .underline {
            background-color: $light-grey;
        }

        .contact-shadow {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 9, 27, 0.750);
            z-index: -5;
        }

        .contact-us {
            display: flex;
            align-items: center;
            color: $white;

            .contact-item {
                margin: 30px 0;

                h3 {
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

                .social-media {
                    font-size: 26px;

                    .fa-facebook-f:before, .fa-linkedin-in:before, .fa-twitter:before {
                        padding: 10px;
                        color: $white;
                    }              
                }
            }
        }
    }
   
    @media (min-width: 280px){
        header {
           
            .fa-chevron-down {
                left: 42%;
                transform: translateX(-42%);
            }
        }
    }

    @media (min-width: 360px) {

        .fa-chevron-down {
            left: 44%;
            transform: translateX(-44%);
        }
    }

    @media (min-width: 375px) {
        header {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 16px;
            }

            .fa-chevron-down {
                left: 44%;
                transform: translateX(-44%);
            }
        }
    }

    @media (min-width: 540px){
        header {
           
            .fa-chevron-down {
                left: 46%;
                transform: translateX(-46%);
            }
        }
    }
    
    @media (min-width: 768px) {
        header {
            h1 {
                font-size: 42px;
            }

            p {
                font-size: 20px;
            }

            .fa-chevron-down {
                left: 48%;
                transform: translateX(-48%);
            }
        }
    
    }

    @media (min-width: 992px) {
      header {

        .fa-chevron-down {
            left: 49%;
            transform: translateX(-49%);
        }
      }
        
        nav {
           height: 82px;
       }


            .about-us-hero {
                background-image: url('../img/photovoltaic-system-gadd6b3dce_1920.jpg');
            }

            .prices {
                .price-info {
                    font-size: 18px;
                }

            }

            .contact {
                background-image: url('../img/skyline-gd79f82e54_1920.jpg');
            }
        }

    @media (min-width: 1200px) {
        header {
            .hero-img {
                background-image: url('../img/tesla-g7c5c7a642_1920.jpg');   
            }
        }

    }
